.body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  height: 100%;
  flex: 1 1 auto;
}

li {
  text-align: left;
  list-style-type: none;
}

.link {
  text-decoration: none;
  color: #313131;
}
